@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
.bg-muted{
  background-color:  #F3F4F5;
}
.text-muted-foreground{
  color: #6C6E74;
}
.bg-primary{
  background-color: #17181A;
}
.bg-breadcrumb{
  background-image: url('./assets//breadcrumbanner.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}